/* 公共的样式配置处 */
page{
    color: #ffffff;
    background-color: #18191F;
    font-size: 16px;
}

/* 按钮样式初始化 */
.btn-init {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: initial;
    font-size: initial;
    border: 0;
    color: inherit;
}

.btn-init:after{
    border:0;
}

.rkt-side-px {
    padding: 0 15px;
}

.rkt-side-py {
    padding: 10px 0;
}

.rkt-margin-bottom {
    margin-bottom: 40px;
}

.rkt-btn-shadow {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.sub_title {
    font-size: 12px;
    color: #9ca3af;
}

.ext-btn {
    display: flex;
    gap: 4px;
    color: #9ca3af;
}

.container {
    width: 100%;
    background-image: linear-gradient(to top, rgba(24,25,31, 1), rgba(24,25,31, 0)), url("https://cdn.qingheplus.cn/public/image/aimen_bg_1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    box-sizing: border-box;

    padding-bottom: 140px;
}


  /* 动态文字标题 start */
.text-gradient {
    background: linear-gradient(to right, rgb(254, 172, 94), rgb(199, 121, 208), rgb(75, 192, 200), rgb(199, 121, 208), rgb(254, 172, 94));
    background-size: 400%;
    animation: aniText 12s linear infinite;
    color: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes aniText {
    0% {
        background-position: 400%;
    }
    100% {
        background-position: 0%;
    }
}

/* 动态文字标题 end */



  /* 说明文章格式 start */
.content-body {
    padding: 15px;
    line-height: 1.4;
    padding-bottom: 60px;
    color: #d1d5db;
}

.content-section {
    padding: 15px 0;
}

.content-section__title {
    color: #fff;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

  /* 说明文章格式 end */