.cell-group .cell-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cell-item .cell-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cell-group view:last-child {
  border: 0;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  display: block;
}
